<!doctype html>
<html>
  <head>
    <title>Image</title>
 
    <script src="./static/component/header.js"></script>
    <script src="./static/component/curbot.js"></script>
    <script src="./static/component/input/simple.js"></script>
    <script src="./static/component/card.js"></script>
    
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js"></script>
    <script src="./static/js/image.js"></script>
    
  
  </head>
  <body>
    <header-element></header-element>
    <div class="float-left mx-auto p-10 ">
    <curbot-element id="bot"  class="w-max" tags="QA" title="Q & A" description="Simple Q & A" img="./static/img/simple.png"></curbot-element>
    
    <form id="form"  class="mt-10">
      <label for="height">Height:</label>
      <select name="height" id="height">
        <option value="128">128</option>
        <option value="256">256</option>
        <option value="512">512</option>
      </select>

      <label for="width">Width:</label>
      <select name="width" id="width">
        <option value="128">128</option>
        <option value="256">256</option>
        <option value="512">512</option>
      </select>
      
      <input id="txt" type="search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="A cartoon or bankers and corporate partners">


    
    </form>
    <div class="not-prose relative  rounded-xl overflow-hidden dark:bg-slate-800/25">
    <div  class=" inset-0  [mask-image:linear-gradient(0deg,#fff,rgba(255,255,255,0.6))] dark:bg-grid-slate-700/25 dark:[mask-image:linear-gradient(0deg,rgba(255,255,255,0.1),rgba(255,255,255,0.5))]">
    <div class="" id="ilist"></div>
    </div>
    
  </div>
    <br>
    <br>

 <script>



 </script>
  </body>
</html>