<!doctype html>
<html>
  <head>
    <title>Chat</title>
 
    <script src="./static/component/card.js"></script>
    <script src="./static/component/curbot.js"></script>
    <script src="./static/js/index.js"></script>
    <script src="./static/component/header.js"></script>
    <script src="./static/component/input/simple.js"></script>

    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js"></script>
    <link rel="stylesheet" href="./static/style/card.css">
    <link rel="stylesheet" href="./static/style/index.css">

  </head>
  <body>
    <header-element></header-element>
    <div class="float-left mx-auto p-10 ">
    <curbot-element id="bot"  class="w-max" tags="QA" title="Q & A" description="Simple Q & A" img="./static/img/simple.png"></curbot-element>
    
    <form id="form"  class="mt-10">
      <simple-input id="smple-input"></simple-input>
    </form>
    <div class="not-prose relative  rounded-xl overflow-hidden dark:bg-slate-800/25">
    <div class=" inset-0  [mask-image:linear-gradient(0deg,#fff,rgba(255,255,255,0.6))] dark:bg-grid-slate-700/25 dark:[mask-image:linear-gradient(0deg,rgba(255,255,255,0.1),rgba(255,255,255,0.5))]">
    <div class="" id="log"></div>
    </div>
  </div>
    <br>
    <br>

    <div style="margin-top: 20px;" class="rounded-lg border-gray-400 border-solid outline-slate-50">
      <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6">
        <div class="mt-2 flex items-center text-sm text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
          </svg>
          
          &nbsp;Simple Q&A
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
          </svg>
          
          &nbsp;Interactive Chat
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
          </svg>
          
          &nbsp;Trained on Real Data
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500 mr-8">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
          </svg>
          
          &nbsp;Intelligent Agents
        </div>
      </div>
    </div>

    
    <card-element id="simple"  onclick="changeBot(this)" tags="QA" title="Q & A" description="Simple Q & A" img="./static/img/simple.png"></card-element>
    <card-element id="marketing" onclick="changeBot(this)" tags="QA,marketing" title="Brainstorming Bot" description="Helps you brainstorm ideas" img="./static/img/simple2.png"></card-element>
    <card-element id="converstation" onclick="changeBot(this)" tags="QA,convo" title="Converstation" description="Keeps a converstaion" img="./static/img/chat.png"></card-element>
    <card-element id="catalog" onclick="changeBot(this)" tags="QA,data" title="Data Catalog Bot" description="Ask question about data" img="./static/img/marketing.png"></card-element>
  </div>
    <style>
      .resp{
        line-break: auto;
      }
      </style>
  <script>
        
    </script>
  </body>
</html>